.sign-in {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}
.signIn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signInLeft {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.signInLeftLogo {
  max-width: 405px;
  width: 100%;
  margin: 64px 136px 46px;
}
.signInLeftTitle {
  max-width: 405px;
  width: 100%;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}
.signInLeft input {
  margin-bottom: 26px;
  max-width: 390px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid grey;
  cursor: pointer;
}
.signInRightImgBox {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.singUpRightImg {
  width: 100vw;
  height: 100vh;
}
.confirmBtn {
  max-width: 414px;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  background: #155eef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: white;
  border: none;
}
