.Header{
    background-color: #D8E2FA;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
}


.Header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
    list-style-type: none;
    gap: 1rem;
}